

<div class="d-flex justify-content-center">
    <div class=" col-xl-4">
        <form action="/login" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Введите Ваш логин и пароль</h1>
            <label for="inputLogin" class="sr-only">login name</label>
            <input name="login" type="text" id="inputLogin" class="form-control" placeholder="Логин" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>

        </form>
    </div>
</div>