
<table class="table-active"></table>


<div class="quiz-select-main">
    <form>
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Выберите пол или возраст</h5>
                        <p class="card-text">
                            <div class="quiz-subjects-list"> </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="quiz-groupProblem-list-wrapper hidden col-sm-5">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Выберите область</h5>
                        <p class="card-text">
                            <div class="quiz-groupProblem-list"></div>
                        </p>

                    </div>
                </div>
            </div>

            <div class="quiz-list-wrapper hidden  col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Укажите ваши жалобы</h5>
                        <p class="card-text">
                            <div class="quiz-list"> </div>
                        </p>
                        <input class="btn-quiz-start hidden btn btn-primary" type="button" value="НАЧАТЬ ТЕСТИРОВАНИЕ">
                    </div>
                </div>
            </div>
        </div>





    </form>
</div>


<script src="/javascripts/quizzing/selectQuiz.js"></script>