.header {
    height: 100px;
    .registration {
        float: right;
    }
    .clear {
        clear: both;
    }
    .title p {
        margin: 0 auto;
        text-align: center;
        color:mediumblue;
        font-size: 30px;
    }
}